Markup-Language-and-Information-Management-Systems/XML/Tema 10/tienda/tienda.dtd

<!ELEMENT tienda (producto+)>
<!ELEMENT producto (productoID, nombre, marca, precio, (edadRecomendada|pegi), categoria+, descuento)>
<!ELEMENT productoID (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT pegi (#PCDATA)>
<!ELEMENT edadRecomendada (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT descuento (#PCDATA)>