Markup-Language-and-Information-Management-Systems/XML/Tema 10/concesionario.dtd

<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (modelo, marca, caballos, color, puertas, especificaciones+)> <!-- Una o más especificaciones-->
<!ATTLIST concesionario ciudad CDATA #IMPLIED> <!-- Opcional-->
<!ATTLIST coche cocheID CDATA #REQUIRED> <!-- Obligatorio-->
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT caballos (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>
<!ELEMENT especificaciones (#PCDATA)>